.wallet-type-image {
  width: 75px;
}

.dashboard-tile {
  height: calc(100% - 24px);
}

.dashboard-tile_indent-top {
  height: calc(100% - 24px - 37px);
  margin-top: 37px;
}

.dashboard-number {
  line-height: 1;
  margin: 0 0 10px;
}

.dashboard-hidden {
  display: none;
}

.dashboard-nowrap {
  white-space: nowrap;
}

.dashboard-tab-wrapper {
  position: relative;
}

.dashboard-tab {
  display: none;
}

.dashboard-tab.active {
  display: block;
}